
body{
    
    background-image:url(ivy/jen-p-FoG8lotg7AA-unsplash.jpg) ;
    background-size: 100%;
    font-size: x-large;
}

.form{
color: black;
margin-left: 70%;
font-size: x-large;
}

#create{
background-color: blue;
}


